@import 'styles/vars';
@import 'styles/mixins';
@import 'styles/typography';
@import 'styles/base';
@import 'styles/loading';
@import 'styles/layout';

.orientation-warning {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  background: rgba(0,0,0,0.8);
}

.orientation-message {
  width: 300px;
  height: 100px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

@media screen and (orientation: portrait) {
  .orientation-warning {
    display: block;
  }
}
